@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

/* All */
*{
    box-sizing: border-box;
    animation: fadein 2s
}

/* On-load Animation */
@keyframes fadein {
    from {
        opacity: 0.4;
    }
    to {
        opacity:1;
    }
}

/* Html */
html {
    scroll-behavior: smooth;
}

/* Body  */
body{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #c2c2c2;
    text-align: center;
    /* background-image: linear-gradient(#858585, white); */
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    background: linear-gradient(180deg, #354243 0%, #354243 50%,  #6c6946 100% );
}

.underline-title{
    height: 2px;
    width: 50px;
    background-color: #c2c2c2;
    padding: 0%;
    display: flex;
    margin: -20px auto 20px auto;
}

/* Skills & About-me */
@media(min-width: 370px){
    body{
        font-size: 1.2rem;
    }
}

@media(min-width: 600px){
    body{
        font-size: 1.25rem;
    }
}

@media(min-width: 800px){
    body{
        font-size: 1.3rem;
    }
}

@media(min-width: 900px){
    body{
        font-size: 1.35rem;
    }
}

@media(min-width: 1450px){
    body{
        font-size: 1.4rem;
    }
}

@media(min-width: 1920px){
    body{
        font-size: 1.5rem;
    }
}

strong{
    font-weight: 500;
}

/* Header */
header{
    position: absolute;
    margin:30px;
    left: 0;
    right: 0;
}

/* Logo & Nav*/
@media(min-width: 870px){
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
}
h1.logo {
    font-family: 'Sacramento', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    color: #559ba4;
}
@media(max-width:380px){
    h1.logo{
        font-size: 45px;
    }
}
@media(max-width:350px){
    h1.logo{
        font-size: 40px;
    }
}

nav li{
    display: inline-block;
    margin: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
}
nav a{
    display: block;
    padding: 16px;
}
nav a:hover,
nav a:focus{
    color: #4e7d88b6;
}

@media(max-width: 870px){
    nav li{
        font-weight: 600;
        font-size: 15px;
    }
}
@media(max-width: 400px){
    nav li{
        font-weight: 500;
        padding: 0px;
        font-size: 14px;
    }
    nav a{
        padding: 16px 8px;
    }
}
@media(max-width: 330px){
    nav a{
        padding: 10px 2px;
    }
}

/* Default area Image */
section.default{
    background-image: url(./bg1.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./bg1.png");
    padding-top: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 1.2em;
    height: 100vh;
}
@media(max-height:600px){
    section.default{
        padding-top: 33vh;
    }
}

@media(min-width: 370px){
    section.default{
        font-size: 1.3em;
    }
}
@media(min-width: 600px){
    section.default{
        font-size: 1.4em;
    }
}
@media(min-width: 800px){
    section.default{
        font-size: 1.45em;
    }
}
@media(min-width: 900px){
    section.default{
        font-size: 1.5em;
    }
}
@media(min-width: 1450px){
    section.default{
        font-size: 1.6em;
    }
}
@media(min-width: 1920px){
    section.default{
        font-size: 1.7em;
    }
}

/* Intro text */
.container{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    opacity: .8;
    color: white;
}
.container h1{
    font-weight: 400;
}
.container span{
    font-weight: 300;
    display: block;
    font-size: .9em;
    opacity: .7;
}

/* Scroll down */
.scrolldown{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    opacity: .7;
}
.scrolldown span:nth-child(1){
    transform: translate(-10px,-10px);
    opacity: .6;
}
.scrolldown span:nth-child(2){
    transform: translate(0px,0px);
}
@media(max-width:740px){
    .scrolldown{
        bottom: 5vh;
    }
}

/* Skills Div */
.skills-container{
    display: flex;
    padding: 0%;
    margin: 0%;
}
.skills-text{
    width: 50%;
    text-align: left;
    margin: auto;
    padding: 0%;
}
@media(max-width:920px){
    .skills-text{
        width: 70%;
    }
}
@media(max-width:600px){
    .skills-text{
        width: 80%;
    }
}
@media(max-width:400px){
    .skills-text{
        width: 85%;
    }
}

/* About me Div */
.about-me-container{
    display: flex;
    margin: 0%;
    padding: 0%;
}
.about-me-text{
    width: 50%;
    text-align: justify;
    padding-left: 10px;
    border-left: 3px solid #c2c2c2;
    margin: auto;
}
@media(max-width:920px){
    .about-me-text{
        width: 70%;
    }
}
@media(max-width:600px){
    .about-me-text{
        width: 80%;
    }
}
@media(max-width:400px){
    .about-me-text{
        width: 85%;
    }
}

/* Unordered lists */
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* Links */
a{
    text-decoration: none;
    color: #4e7d88;
}

/* Horizontal line */
hr{
    border: none;
    width: 90%;
    background-color: #c2c2c2;
    height: 1px;
}

/* Copyright */
div.copyright{
	font-size: 1.1rem;
}

/* Quote */

/* center the blockquote in the page */
.quote-wrapper {
    display: flex;
 }
/* Blockquote main style */
.quote {
     position: relative;
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     color: #c2c2c2;
     padding: 30px 0;
     width: 100%;
     /* max-width: 500px; */
     z-index: 1;
     margin: 80px auto;
     align-self: center;
     border-top: solid 1px;
     border-bottom: solid 1px;
 }
/* Blockquote header */ 
.quote h2 {
     position: relative;
     color: #c2c2c2;
     font-size: 30px;
     font-weight: 600;
     line-height: 1;
     margin: 0;
     padding: 0 15px;
}
/* Blockquote right double quotes */
.quote:after {
     position: absolute;
     content: "”";
     color: #c2c2c2;
     font-size: 10rem;
     line-height: 0;
     bottom: -43px;
     right: 30px;
}
/* increase header size after 600px */
@media all and (min-width: 600px) {
     .quote h1 {
         font-size: 60px;
    }
}
/* Blockquote subheader */
.quote h4 {
     position: relative;
     color: #333333;
     font-size: 1.4rem;
     font-weight: normal;
     line-height: 1;
     margin: 0;
     padding-top: 20px;
     z-index: 1;
}

/* Social buttons */
.social li{
    display: inline-block;
    margin: 0px;
    padding: 15px 15px;
    /* position: relative; */
}

/* Media Icons */
svg{
    /* color: #333333d5; */
    color: #c2c2c2ea;
}
svg:hover,
svg:focus{
    color: #c2c2c29f;
}