@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
    background-color: #0B111E;
    font-family: 'Poppins', sans-serif;
    /* color: hsl( 219 , 15%, 95%); */
}

h1{
  font-weight: 400;
  color: #A395E9;
}

p{
  color: hsl( 219 , 8%, 75%);
}

a{
  text-decoration: none;
}

hr{
  border: 1px solid hsla(216, 8%, 75%, 0.271);
  width: 70%;
  margin: 25px auto 25px auto;
}

.button{
  display: inline-block;
  background-color: hsl( 250 , 66% , 75% );
  color: hsl( 219 , 48%, 8%);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: hsl( 219 , 48%, 8%);
  transition: .4s;
}

.button:hover{
  background-color: hsl( 250 , 66% , 75% );
  color: hsl( 219 , 48%, 8%);
}

.container{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  background-color: #151C28;
  padding: 25px 50px 50px 50px;
  border-radius: 1.25rem;
}

@media screen and (max-width: 811px){
  .container{
    width: 70%;
  }
}

@media screen and (max-width: 580px){
  .container{
    width: 80%;
  }

  .content{
    padding: 25px 40px 50px 40px;
  }
}